<nav class="navbar navbar-expand-lg navbar-light sticky-top navbar-custom shadow">
    <div class="container" style="font-weight: 100;">
        <a class="navbar-brand h1 fs-1 shine" href="/" style="background-color:#EEE2F3;color: #1C0D1B; ">NAMASTE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div style="" class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item fs-4">
                    <a href="/process" class="btn btn-outline-dark">Reserve Tickets</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
