<section class="container-fluid m-3">
    <h1>About Us</h1>
    <p class="fs-2">Here's a look into our team.</p>
    <div class="row">
        <div class="col-4">
            <div class="card">
                <img src="img/teacheres.jpg" class="card-img-top" alt="...">
                <h4 class="card-header">President</h4>
                <div class="card-body">
                    <h3 class="card-title">Priya Shan</h4>
                    <p class="card-txt">

                    </p>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <img src="img/teacheres.jpg" class="card-img-top" alt="...">
                <h4 class="card-header">President</h4>
                <div class="card-body">
                    <h3 class="card-title">Priya Shan</h4>
                    <p class="card-txt">

                    </p>
                </div>
            </div>
        </div>
        

    </div>
</section>