<%- include('head'); %>

<body class="fonts">
    
    <%- include('nav'); %>
    
    <section class="d-flex align-items-center" style="height: 100%;">
        <div class="overlap text-center" style="color: white;">
            <!-- <img class="backgroundimage img-fluid" src="img/background.jpg" style="opacity: 0.05; "> -->
            <!-- <div class="textoverlay" style="color: white;"> -->
            <div class="py" style="padding-top: 10%; padding-bottom: 10%;">
                <h1 class="display-1 kaushan animatepop">Namaste</h1>
                <h4 style="animation-duration: 0.6;" class="col-sm animatepop">South Asian Dance Club at TJHSST <br> Friday 8B</h4>
                <br>
                <a href="https://ion.tjhsst.edu" class="btn btn-light animatepop">Sign Up on ION</a>
                <br><br>
                <!-- <a href="#Skills" class="" style="text-decoration: none;color: #F2F7F2;">
                    <span class="material-symbols-outlined fs-2">expand_more</span>
                </a> -->
            </div>
            <!-- </div> -->
        </div>
    </section>

    <!-- <section class="container-fluid">
        <div class="row mr-5">
            <div class="col" style="">
                <div class="rounded p-3 purp">
                    <h3>8th Period</h3>
                    <p>Come Friday B-Blocks to eat Desi food, learn how to dance, watch Bollywood movies, and just chill!
                    </p>
                </div>
            </div>
            <div class="col-7 m-3" style="">
                <div class="p-3 ">
                    <img src="img/teacheres.jpg" alt="">
                </div>
            </div>
        </div>
    </section> -->
    <!-- 
        <div class="container-fluid text-center" style="margin-bottom: 5vw;">
            <div class="row">
                <h1 style="font-weight: 600;" class="row display-1 fadeInLeft kaushan text-center">Namaste</h1>
                <h5 style="font-weight: 600; animation-duration: 500ms;" class="row fadeInLeft">Indian dance at Thomas Jefferson High School for Science and Technology</h5>
                <p class="row fadeInLeft fs-6 col-3" style="width: 50vw; animation-duration: 400ms;">
                  TJ’s BIGGEST cultural club bringing South Asian culture to TJ with iNite, Diwali, Holi and everything in between.
                </p>
                <span class="row fadeInLeft" style="animation-duration: 300ms;">Scroll to read more</span>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-1">
                <a href="#Skills" style="text-decoration: none;color: #F2F7F2;"><span class="material-symbols-outlined fs-2">expand_more</span></a>
            </div>
        </div>
     -->
     


</body>