<%- include('./partials/head') %>

<body class="fonts" style="background-color: #1C0D1B;">
    
    <%- include('./partials/nav') %>
    
    <section class="d-flex align-items-center" style="">
        <div class="overlap text-center" style="color: white;">
            <!-- <img class="backgroundimage img-fluid" src="img/background.jpg" style="opacity: 0.05; "> -->
            <!-- <div class="textoverlay" style="color: white;"> -->
            <div class="py" style="padding-top: 10%; ">
                <h1 class="display-1 kaushan animatepop">Namaste</h1>
                <h4 style="animation-duration: 0.6;" class="col-sm animatepop">South Asian Dance Club at TJHSST <br> Friday 8B</h4>
                <br>
                <a href="https://ion.tjhsst.edu" class="btn btn-light animatepop">Sign Up on ION</a>
                <br><br>
                <!-- <a href="#Skills" class="" style="text-decoration: none;color: #F2F7F2;">
                    <span class="material-symbols-outlined fs-2">expand_more</span>
                </a> -->
            </div>
            <!-- </div> -->
            
        </div>
    </section>
    <div class="rounded container w-25 p-3" style="background-color: white; color: black;">
        <span class="h4 row px-2">Events:</span>

    </div>

    <!-- <%- include('about'); %> -->
    
    <!-- <section class="container-fluid">
        <div class="row m-5 rounded purp">
            <div class="col" style="">
                <div class="p-3 ">
                    <h3>8th Period</h3>
                    <p>Come Friday B-Blocks to eat Desi food, learn how to dance, watch Bollywood movies, and just chill!
                    </p>
                </div>
            </div>
            <div class="col-7 m-3" style="">
                <div class="p-3 ">
                    <img class="img-fluid" src="img/teacheres.jpg" alt="">
                </div>
            </div>
        </div>
    </section> -->
     


</body>