<nav class="navbar navbar-expand-lg navbar-light sticky-top navbar-custom">
    <div class="container" style="font-weight: 100;">
        <a class="navbar-brand h1 fs-1 shine" href="/" style="background-color:#EEE2F3;color: #1C0D1B; ">NAMASTE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div style="" class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item fs-4">
                <a class="nav-link active h2 hoverscroll" aria-current="page" href="">Events</a>
                </li>
                <li class="nav-item fs-4">
                <a class="nav-link active h2 hoverscroll"  aria-current="page" href="https://www.facebook.com/tjhsstnamaste/?ref=page_internal">About</a>
                </li>
                <li class="nav-item fs-4" style="margin-right: 10px;">
                <a class="nav-link active h2 hoverscroll"  aria-current="page" href="https://www.facebook.com/tjhsstnamaste/photos/?ref=page_internal">iNite</a>
                </li>
                <li class="nav-item fs-4">
                    <a href="https://ion.tjhsst.edu" class="btn btn-outline-dark">Sign Up on ION</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
